<%= image_tag("visuel-HP4.jpg", alt: "Bienvenue sur lesaventuriersduplateau.fr") %>
  <div class="container-banner text-center">
  <h1 class=" logo_banner">LES AVENTURIERS <br> DU PLATEAU</h1>
  <p class= "logo_introduce"><strong> Rejoignez la plus grande communauté de jeux de société en France !</strong> </p>
  <% unless user_signed_in? %>
    <a class="banner-btn" href="<%= new_user_registration_path %>"> Inscrivez-vous ici</a>
  <% end %>
</div>