<div class="container mt-2">
    <div class="row d-flex align-items-center justify-content-center">
        <img src="https://linote.fr/wp-content/uploads/2022/03/board-games.jpg" class="event-img img-fluid col-11 col-md-4 rounded-5 p-2" alt="Image de présentation">
        <p class="col-12 col-md-6 py-3">Les Aventuriers du plateau est une plateforme qui réunit les principaux événements de jeux de société en France.<br>
        Découvrez les événements organisés près de chez vous, toute l'année selon différentes thématiques. Affrontez des adversaires à Catan dans un tournoi à Toulouse, découvrez le Skyjo chez Jean-Mi avec Amandine et Caroline à Bourges, ou encore profitez d'une après-midi découverte des dernières sorties de jeux à Marseille. 
        </p>
    </div>
    <br>
    <div class="row d-flex align-items-center justify-content-center">
        <p class="col-12 col-md-6 py-3">Découvrez deux types d'organisation sur notre site :<br>
        - Événements par des organismes privés ou associations. Nos premiers événements seront bientôt disponibles.<br>
        - Événements privés créés par des membres de la communauté, chez eux ou dans des lieux publics. Rencontrez d'autres joueurs près de chez vous en cliquant sur "Créer votre événement" et en remplissant le formulaire. Validation requise pour créer un événement.
        </p>
        <img src="https://www.lavenir.net/resizer/ACCeLWKql6jjasnTPbRitOsvfJY=/1200x800/filters:format(jpeg):focal(495x338.5:505x328.5)/cloudfront-eu-central-1.images.arcpublishing.com/ipmgroup/AQD2HZGC6BF3LJLNO4ULITAFBQ.jpg" class="event-img img-fluid col-11 col-md-4 rounded-5 p-2" alt="Image de présentation">
    </div>
</div>



   