<h1 class="special-title">Modifier <br>l'événement</h1>

<%= render "form", event: @event %>

<br>

<div style="text-align: center">
  <%= link_to "Voir cet événement", @event %> |
  <%= link_to "Retourner sur les événements", events_path %>
 </div>
