<br/>
<div class="container">
    <h1>Tous les événements bébé</h1>
    <br/>
    <br/>
    <br/>

    <%= link_to "Créer un event", new_event_path %>    

    <% @events.each do |event| %>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"><%= event.title %></h5>
                <p class="card-text"><%= event.description %></p>
                <p class="card-text"><%= event.price %>€</p>
            </div>
        </div>
        <br/>
    <% end %>
</div>