<section class="container py-4">
  <h2 class="title-page">Créer ton<br>événement</h2>
  <div class="col-8 offset-2 mb-3">
    <%= render "form", event: @event %>
  </div>

  <div>
    <%= link_to "Retour à l'accueil", events_path,class: "text-decoration-none" %>
  </div>
</section>
