<h1 class="special-title">Créer ton<br>événement</h1>
<section class="container py-4">
  <div class="col-8 offset-2 mb-3">
    <%= render "form", event: @event %>
  </div>

  <div>
    <%= link_to "Retour à l'accueil", events_path,class: "text-decoration-none" %>
  </div>
</section>
