nav {
    background-color: #FDFAF4;
    color: #0038FF;
}

.cart-badge {
    color: #0038FF;
    margin-left: 5px;
}

a.nav-link {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #0038FF;
}

.nav-link {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #0038FF;
}

a.navbar-brand {
    font-family: 'Bebas Neue', sans-serif;
    color: #000000;
}

.navbar-nav .nav-link:hover {
    color: #FF7310;
    text-decoration: none;
}

#navbar-list li {
    list-style: none;
    text-decoration: none;
}

.nav-item .nav-item:hover {
    text-decoration: none;
}

  
body {
    background-color: #FDFAF4  !important;
}
  
swiper-container {
    width: 75%;
    padding-top: 50px;
    padding-bottom: 50px;
    
  }

  swiper-slide {
    background-position: center;
    background-size: cover;
    background-color: #f5c0fb;
    width: 100px;
    height: 100px;
  }

  swiper-slide img {
    display: block;
    width: 100%;
  }
  
  .title-section{
      font-size: 4em;
      color: #0038FF;
  }

  .title-event{
      font-size: 1em;
      color: #ff7310;
  }

  .buttonMore{
      border: 2px solid #ff7310;
      background-color: transparent;
      color: #ff7310;
      border-radius: 100px;
      margin-bottom: 20px;
  }
