<h1 class="special-title">Mon <br> Compte</h1>
<br/>
<br/>

  <section class="pl-2 text-center">
    <h4 class="text-profiluser">Email : <%= @user.email %></h4>
    <h4 class="text-profiluser">Pseudo : <%= @user.pseudo %></h4>
      <br>
      <br>
        <%= link_to "Modifier mon profil", edit_user_registration_path, class: 'btn-out' %>
  </section>
